.nav-wrapper img {
    width: 32px;
    margin: 20px;
    border: solid white 1px;
    border-radius: 50%;
}

.cart__num-wrapper {
    display: flex;
}@media(max-width: 500px) {
    .cart__num-wrapper {
        position: fixed;
        top: 10%;
        right: 0px;
        width: 85px;
    }
}

.cart_number {
    border-radius: 50%;
    position: relative;
    padding: 3px 8px;
    width: fit-content;
    max-height: 50px;
    top: -15px;
    left: -26px;
}@media(max-width: 500px) {
    .cart_number {
        max-height: 45px;
    }
}